project:
  type: book
  output-dir: build

book:
  title: "Linearity"
  author: "Adam Layne"
  date: "January 14, 2025"
  page-footer:
    left: |
       <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://fnbu.pw/linearity-book/">Linearity</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://fnbu.pw/">Adam Layne</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""></a></p> 
    right: |
       The source code generating this book is provided under <a href="https://github.com/fNBU/linearity-book/blob/release/LICENSE">the MIT License</a>.

  search: true

  # the github repository hosting the book code
  repo-url: https://github.com/fnbu/linearity-book 
  
  # when folks click the link to the repo, which branch are they taken to
  repo-branch: release

  repo-actions: [source]
  sharing: [twitter, facebook, linkedin]
  chapters:
    # there must be a section with title `index.qmd`
    - index.qmd 
    - preface.qmd
    - part: "Vector Spaces"
      chapters:
      - what-is-linearity.qmd
      - the-notion-of-a-vector-space.qmd
      - bases.qmd
      - vector-spaces-isomorphic-to-euclidean-space.qmd
      - ways-of-writing-vectors.qmd
      - ways-of-writing-linear-maps.qmd
    #   - solving-systems-of-linear-equations.qmd
    # - part: "Inner Product Spaces"
    - references.qmd


filters:
  - tikz

tikz:
  cache: false
  save-tex: true  # Enable saving intermediate .tex files
  tex-dir: tikz-tex  # Optional: Specify directory to save .tex files

bibliography: references.bib

format:
  html:
    number-depth: 1
    theme:
      light: cosmo
      dark: [cosmo, theme-dark.scss]
  pdf:
    keep-tex: true # Keep the TeX sources around (by default, a single `.tex` file in the project root directory) for debugging
    number-depth: 1
    documentclass: book
    include-in-header:
      text: |
        \usepackage{makeidx}
        \makeindex
        \DeclareMathOperator{\Span}{Span}
    include-after-body: 
      text: |
        \printindex



